body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1000px;
}

.menu {
    display: flex;
    margin: 0;
}

.menu ol {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

.menu ol li {
    margin: 10px;
}

.logo {
    display: flex;
    margin: 0px;
    height: 50px;
    width: 187px;
    margin-right: 0px;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 187px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    color: white;
    margin-right: 520px;
    margin-top: 0px;
}

h1 strong {
    color: #026fff;
}


.header a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    height: 300px;
    /* background-image: url('../imgs/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    background-color: #1b2127;
    align-items: center;
    justify-content: center;
}

.hero-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 300px;
}

.hero-details img {
    display: flex;
}

.hero-details h1 {
    margin: 0;
    align-items: center;
    height: 180px;
}

.portfolio {
    background-color: #fafafa;
    padding: auto;
}

.project-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

h2 {
    text-transform: uppercase;
    margin: 0px;
    padding: 20px;
    padding-bottom: 0px;
    color: #026fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.project-title {
    font-size: 30px;
}

.project-details {
    width: 500px;
}

.project-imageContaner {
    width: 500px;
}

.project-course {
    color: gray;
}

.project-date {
    color: gray;
}

.project-date strong {
    color: black;
}

.project-description {
    font-size: 20px;
    display: flex;
}

#eventos {
    background-color: #fafafa;
}

.event {
    background-color: white;
    border: 1px solid gray;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    margin: 20px;
}

.events-details {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-image {
    height: 233.27px;
    width: 300px;
}

.event-url {
    text-align: center;
    background-color: gray;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid black;
    margin: 5px auto;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}